body {
	background: #666666;
	margin: 0 auto;
}

.talking {
	width: 75%;
	margin: 0 auto;
	text-align:center;
}

.got {
	width: 1000px;
	margin: 0 auto;
}

.got_image {
	float:left;
}

.got_text {
	float: right;
}

.wh2_img {
	margin: 0 auto;
}